<ul class="nav-links" id="nav-list">
    <li><a href="{{ROOT}}index.html" data-page="home">Home</a></li>

    <li class="has-dropdown">
        <a href="#" data-page="services" class="dd-trigger">
            Services <span class="caret">▾</span>
        </a>
        <ul class="dropdown">
            <li><a href="{{ROOT}}pages/8band-report.html">🛰️ 8-Band Satellite Report</a></li>
            <li><a href="{{ROOT}}pages/aquacrop.html">🌾 AquaCrop Digital Twin</a></li>
            <li><a href="{{ROOT}}pages/billboard-analytics.html">📊 Billboard Impression Analytics</a></li>
        </ul>
    </li>

    <li class="has-dropdown">
        <a href="#" data-page="use-cases" class="dd-trigger">
            Use Cases <span class="caret">▾</span>
        </a>
        <ul class="dropdown">
            <li><a href="{{ROOT}}pages/use-case-rice.html">🌾 Rice Monitoring</a></li>
            <li><a href="{{ROOT}}pages/use-case-jute.html">🌿 Jute Crop Health</a></li>
            <li><a href="{{ROOT}}pages/use-case-vegetable.html">🥬 Vegetable Yield</a></li>
            <li><a href="{{ROOT}}pages/use-case-flood.html">🌊 Flood/Drought Mapping</a></li>
        </ul>
    </li>

    <li class="has-dropdown">
        <a href="#" data-page="about" class="dd-trigger">
            About <span class="caret">▾</span>
        </a>
        <ul class="dropdown">
            <li><a href="{{ROOT}}pages/about.html#story">Our Story</a></li>
            <li><a href="{{ROOT}}pages/about.html#what-we-do">What We Do</a></li>
            <li><a href="{{ROOT}}pages/about.html#platform">GeoData Platform</a></li>
            <li><a href="{{ROOT}}pages/about.html#industries">Industries Served</a></li>
            <li><a href="{{ROOT}}pages/about.html#partnerships">Partnerships</a></li>
            <li><a href="{{ROOT}}pages/about.html#innovation">Innovation &amp; R&amp;D</a></li>
            <li><a href="{{ROOT}}pages/about.html#team">Leadership</a></li>
            <li><a href="{{ROOT}}pages/about.html#partner">Partner With Us</a></li>
        </ul>
    </li>

    <li><a href="{{ROOT}}index.html#demos" data-page="demos">Live Demos</a></li>
    <li><a href="{{ROOT}}index.html#pilot" data-page="pilot">Free Pilot</a></li>
</ul>
